@import '~bootstrap/scss/bootstrap';

body {
    font-family: Arial, Helvetica, sans-serif;
}

.d_flex {
    display: flex;
}

.align_items {
    align-items: center;
}

.justify_end {
    justify-content: space-between;
}

.justify_flex_end {
    justify-content: end;
}

.justify_center {
    justify-content: center;
}

.justify_flexend {
    justify-content: flex-start;
}

.justify_around {
    justify-content: space-around;
}

.padding_25 {
    padding: 60px;
}

.padding_20_right_left {
    padding-left: 20px;
    padding-right: 20px;
}

/*Header*/
.header_main {
    background-color: white;
}

.header_content {
    padding: 20px;
}

.logo {
    width: 75px;
}

.menu_item {
    text-decoration: none;
    color: darkgrey;
    font-weight: 600;
    padding: 10px;
}

.menu_element {
    list-style-type: none;
    position: relative;
}

.active {
    color: #0282F9;
}

.menu_item:hover {
    color: #0282F9;
    transition: 0.5s;
}

.rectangle_active {
    background-color: #0282F9;
    width: 100%;
    height: 5px;
    position: absolute;
    margin-top: 40px;

}

.up_header {
    padding: 5px;
    background-color: #0282F9;
    color: white;
}

.visa_upheader {
    font-size: 13px;
}

/*Footer*/
.main_footer {
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_footer {
    background-image: url(../images/dc-logo-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.menu_footer_title {
    font-weight: 700;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

.menu_footer_item {
    color: gray;
    text-decoration: none;
    font-size: 15px;
    padding-top: 10px;
}

.menu_footer_element {
    list-style-type: none;
}

.footer_logo {
    overflow: hidden;
}

.bottom_footer {
    background-color: #1C1C1C;
    padding: 30px;
}

.footer_button {
    display: inline-block;
    border: 3px solid #0282F9;
    color: white;
    padding: 15px;
    font-weight: 400;
    text-decoration: none;
}

.follow_footer {
    color: #0282F9;
    font-size: 20px;
    font-weight: 400;
    padding-right: 15px;
}

.social_icon {
    padding: 15px;
}

.padding_bottom_15 {
    padding-bottom: 15px;
}

.up_footer {
    background-color: #0282F9;
    padding: 25px;
}

.icon_footer {
    width: 50px;
}

.icons_text {
    color: white;
    padding-left: 10px;
    font-weight: 100;
    font-size: 15px;
}

/*Main*/
.main_content {
    background-color: #1C1C1C;
    padding: 75px;
    position: relative;
}

.main_caption {
    color: white;
}

.series_indicator {
    background-color: #0282F9;
    padding: 10px;
    width: 200px;
    margin-top: -100px;
    margin-bottom: 50px;
}

.series_text {
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.jumbo {
    background-image: url(../images/jumbotron.jpg);
    padding: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}

.load_more {
    padding-top: 50px;
}

.load_more_button {
    background-color: #0282F9;
    display: inline-block;
    text-align: center;
    color: white;
    padding: 15px;
    font-weight: 700;
    text-decoration: none;
}

.load_more_button:hover {
    color: white;
}

.card_title {
    color: white;
    text-transform: uppercase;
    text-align: justify;
    width: 192px;
    padding-top: 10px;
    font-size: 15px;
}

.grid {
    display: flex;
    flex-wrap: wrap;

}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.padding_card_10 {
    padding: 10px;
}

.color_white {
    color: white;
}